.chat-box {
  width: 100%;
  flex: 1;
  background-color: var(--color-primary);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  box-sizing: border-box;
  max-height: calc(100% - 80px);
  position: relative;
}

.chat-box-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 10px;
  overflow-y: auto;
  box-sizing: border-box;
}

.chat-box-content::-webkit-scrollbar {
  display: none;
}

.chat-box-message-bar {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: white;
  padding: 5px 10px;
  border-radius: 5px;
  box-sizing: border-box;
}

.chat-box-message-input {
  flex: 1;
  font-size: medium;
  background-color: transparent;
  border: none;
  color: black;
  padding: 5px;
  box-sizing: border-box;
}

.chat-box-message-input:focus {
  outline: none;
}

.chat-box-message-bar * {
  color: black;
}

.pinned-message {
  background-color: var(--color-secondary);
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  border-radius: 5px;
}

.pinned-message-content {
  margin: 0;
}

.reply-banner,
.edit-banner,
.file-banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: var(--color-secondary);
  padding: 10px;
  box-sizing: border-box;
  border-radius: 5px;
}

.reply-banner-content,
.edit-banner-content,
.file-banner-content {
  margin: 0;
}

.chat-image-preview {
  height: 50px;
}

.chat-sent-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.chat-send-icon-highlighted * {
  stroke: #c97c7c;
  transform: scale(1.01);
}

.chat-attach-icon-highlighted * {
  stroke: #c97c7c;
  transform: scale(1.01);
}

.chat-floating-button {
  background-color: var(--color-accent);
  border: none;
  width: fit-content;
  border-radius: 50%;
  padding: 10px;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-end;
  position: absolute;
  bottom: 70px;
  right: 10px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .chat-box {
    max-width: 100%;
  }
}
