:root {
  --post-tile-height: 300px;
  --post-max-width: 400px;
  --post-min-width: 200px;
}

.post-tile {
  height: var(--post-tile-height);
  display: flex;
  align-items: center;
  /* padding: 10px; */
  flex-direction: column;
  gap: 10px;
  box-sizing: border-box;
  max-width: var(--post-max-width);
  min-width: var(--post-min-width);
  flex: 1;
}

.post-tile-image {
  border-radius: 5px;
  object-fit: cover;
  min-width: 200px;
  height: auto;
  width: 100%;
  max-height: calc(100% - 100px);
  flex-grow: 1;
}

.post-tile-blog-div {
  background-color: var(--color-primary);
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 5px;
  overflow: hidden;
  text-align: center;
  max-height: calc(100% - 100px);
  min-height: 200px;
}

.post-tile-blog {
  margin: 0;
  font-size: 0.9rem;
  color: white;
  line-height: 1.2;
  overflow: hidden;
  text-overflow: ellipsis;
}

.post-tile-actions {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 8px 10px;
  background-color: var(--color-secondary);
  border-radius: 10px;
}

.post-tile-description {
  margin: 0;
  font-size: 0.8rem;
  text-align: center;
  line-height: 1.2;
  text-overflow: ellipsis;
}
