.search-page {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.search-page-bar {
  display: flex;
  width: 70%;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 30px;
  color: black;
  padding: 0 20px;
}

.search-page-input {
  flex: 1;
  height: 50px;
  background-color: transparent;
  border: none;
  color: inherit;
  font-size: medium;
}

.search-page-input:focus {
  outline: none;
  border: none;
}

.custom-icon * {
  color: black;
}

.search-page-users {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  width: 100%;
}

.search-view-more-button {
  background-color: transparent;
  align-self: flex-start;
  border: none;
  cursor: pointer;
}

.search-view-more-button:hover {
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .search-page-users {
    grid-template-columns: repeat(1, 1fr);
  }
}
