
@import "./styles/styles.css";
@import "./styles/utils.css";
@import "./styles/variables.css";


@font-face {
  font-family: "AndikaNewBasicRegular";
  src: url("/fonts/andika/AndikaNewBasic-R.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: var(--color-background);
}

* {
  font-family: "AndikaNewBasicRegular", Arial, sans-serif;
  color: var(--color-text);
}
