.sidebar {
  background-color: var(--color-primary);
  width: 250px;
  height: calc(100vh - 30px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  box-sizing: border-box;
  position: fixed;
  top: 15px;
  left: 10px;
}

.sidebar-button-name {
  margin-left: 20px;
}

.sidebar-button {
  padding: 20px 40px 20px 30px;
  cursor: pointer;
}

.sidebar-button:hover {
  background-color: var(--color-hover);
  border-radius: 10px;
}

.selected-sidebar-button {
  background-color: var(--color-selected);
  border-radius: 10px;
}
